<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/api/client/all}">All clients </a>
<a th:href="@{/api/device/all/1}">All devices </a>
<a th:href="@{/api/history/all}">All measurements </a>
<br>
<a th:href="@{/api/client/add}">Add client </a>
<a th:href="@{/api/device/add}">Add device </a>
<a th:href="@{/api/history/add}">Add measurement </a>
<form action="#" th:action="@{/api/history/add}" th:object="${history}" method="post">
    <p>Month: <input type="text" th:field="*{month}" /></p>
    <p>Year: <input type="text" th:field="*{year}" /></p>
    <p>Average consumption: <input type="text" th:field="*{avgCons}" /></p>
    <p>Full consumption: <input type="text" th:field="*{fullCons}" /></p>
    <p>Device ID: <input type="text" th:field="*{deviceId}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>